<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div style="width:60%;margin:0 auto;margin-top:2%;">
    <a th:href="@{/add}">
        <button class="btn btn-success">Add</button>
    </a>
    <a th:href="@{/init}">
        <button class="btn btn-success">Init</button>
    </a>
    <a th:href="@{/logout}">
        <button class="btn btn-success">Logout</button>
    </a>
    <a th:href="@{http://www.lixingyu.cn:8083}">
        <button class="btn btn-success">单点登录另一个项目</button>
    </a>
    <span th:text="'上次登录时间：'+${loginLastTime}">
    </span>
    <span th:text="'登录次数：'+${loginCount}">
    </span>
    <table class="table table-hover" border="1">
        <thead>
        <tr>
            <td>id</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>住址</td>
            <td>点赞量</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody th:each="person:${allPerson}">
        <tr>
            <td th:text="${person.value.id}">1</td>
            <td th:text="${person.value.name}">1</td>
            <td th:text="${person.value.age}">1</td>
            <td th:text="${person.value.address}">1</td>
            <td th:text="${person.score}">1</td>
            <td>
                <a th:href="@{/person/}+${person.value.id}">
                    <button class="btn btn-warning">修改</button>
                </a>
                <button class="btn btn-danger deleteBtn" th:value="@{/person/}+${person.value.id}">删除</button>
                <button class="btn btn-danger likeBtn"
                        th:onclick="'likeBtn(\''+@{/person/like?id=}+${person.value.id}+'\')'">点赞
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <form id="delete" method="post">
        <input type="hidden" name="_method" value="delete"/>
    </form>
</div>
<!--<h1 shiro:hasPermission="edit">有edit权限</h1>-->
<!--<h1 shiro:hasPermission="add">有add权限</h1>-->
<!--<h1 shiro:hasPermission="delete">有delete权限</h1>-->
<!--<h1 shiro:hasPermission="select">有select权限</h1>-->
<script>
    $(".deleteBtn").click(function () {
        $("#delete").attr("action", $(this).attr("value")).submit();
        return false;
    });
</script>
<script type="text/javascript" zindex="-1" opacity="2" count="99" th:src="@{/js/border.js}"></script>
<script>
    function likeBtn(path) {
        $(function () {
            $.ajax({
                url: path,
                type: 'POST',
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data == "success") {
                        alert("点赞成功");
                        window.location.reload();
                    } else {
                        alert("点赞失败");
                    }
                }
            });
        });
    }
</script>
</body>
</html>